#root {
  color: rgb(90, 66, 66);
  text-align: center;
  background-color: rgb(206, 204, 204);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 13px;
  padding: 20px;
  justify-items: center;
  margin: 10px;
}
h1 {
  text-align: center;
}

#back-to-shows {
  background-color: #0c8659; 
  border-radius: 4px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 1200px) {
  #root {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #root {
    grid-template-columns: 1fr;
  }
}
.card {
  width: 300px;
  height: 500px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10px;
  background-color: rgb(243, 242, 242);
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-card {
  padding: 10px 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #030303;
  background-color: #f5efef;
  border-radius: 6px 6px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}

.hidden-card {
  display: none;
}

#live-search {
  width: 100%;
  max-width: 400px;
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px;
}

.episode-option {
  color: rgb(5, 5, 113);
  font-size: 1.2rem;
  padding: 5px;
  color: #333;
  background-color: #f4f4f9;
}


/* ====================== show card ========================= */
.show-card {
  width: 93%;
  padding: 20px;
  margin: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.show-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.title-show-card{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.show-card img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.show-card-main{
  display: flex;
  align-items: center;
}
.show-card-main p {
  font-size: 18px;
  color: #0a0909;
  line-height: 1.6;
  margin-bottom: 15px;
  overflow: hidden;
  width: 860px;
}
.show-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  color: #202020;
  margin: 30px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  margin: 90px 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

/* ================= Input =========== */
label , #shows-match-number-filter{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  display: inline-block;
  color: #333;
  padding-left: 5px;
  line-height: 1.5;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 10px;
}

/*  =========== Select ============ */

select {
  width: 20%; 
  padding: 10px 15px;
  margin: 5px; 
  font-size: 16px; 
  color: #333; 
  background-color: #fff; 
  border: 2px solid #ccc; 
  border-radius: 4px; 
  outline: none; 
  box-sizing: border-box; 
  transition: all 0.3s ease; 
}

select:hover {
  border-color: #131212; 
  border: 3px solid rgb(4, 30, 99)
}

select:focus {
  border-color: #0056b3; 
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

@media screen and (max-width: 600px) {
  .show-card {
    width: 100%;
    margin: 10px 0;
  }
}